.modalCloseBtn {
  position: absolute;
  top: .25rem;
  right: .25rem;
  cursor: pointer;
}

.dialog {
  position: relative;
  border: none;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 20%) 0 0 0.5rem 0.25rem;
}

.dialog::backdrop {
  background: hsl(0 0% 0% / 50%);
}