.calendarCellContainer {
  border: 1px dashed var(--main-text);
}
.calendarCell {
  padding: 2px;
  aspect-ratio: 1 / 1;
}
.currentDate {
  color: var(--current-day);
}
.notCurrentMonth {
  opacity: 0.25;
  pointer-events: none;
}
.calenderCellClicked {
  background-color: lightblue;
}